<!doctype html>
<html lang="en">

<head>
    <title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/style.css') }}">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(/auth/static/images/login-bg.jpg);">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            {% block content %} 

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('auth.static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('auth.static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>