{% extends "payment/payment_index.html" %}
{% block main %}
<main>
    <div class="vertical-center">
        <div class="container view">
            <div class="justify-content-center">
                <div class="container-fluid px-4">
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active"><a href="/admin/">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/payment/">Pagamento</a></li>
                        <li class="breadcrumb-item active">Lista de Pagamentos</li>
                    </ol>
                    <div class="card">
                        <div class="card-body">
                            <table id="view_billings" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Identificação do Funcionário</th>
                                        <th>Identificação do Usuário</th>
                                        <th>Criado em</th>

                                        <th>Data do Pagamento</th>
                                        <th>Data de Referência</th>
                                        <th>Valor do Pagamento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                        <tr>
                                            <td>{{ payment.employee_id }}</td>
                                            <td>{{ payment.user_id }}</td>
                                            <td>{{ payment.created_at }}</td>

                                            <td>{{ payment.payment_datetime }}</td>
                                            <td>{{ payment.reference_date }}</td>
                                            <td>{{ payment.payment_value }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Identificação do Funcionário</th>
                                        <th>Identificação do Usuário</th>
                                        <th>Criado em</th>

                                        <th>Data do Pagamento</th>
                                        <th>Data de Referência</th>
                                        <th>Valor do Pagamento</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}